# TeX / LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.equ
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.loa
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc*
*.nav
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.toc
*.vrb

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
